.interceptWrapper {
    position: fixed;
    min-width: 100dvh;
    inset: 0; 
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.windowWrapper {
    position: absolute;
    width: 75%;
    height: 80%;
    top: 10%;
    background-color: #359381;
    border-radius: 15px;
    box-shadow: 0 0 10px #81b3a9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}